.hidden         { display:none !important; }
.wide, .wide *  { width: 100%; }
.flex-wide      { flex-grow: 999; }
.tall           { height: 100%; }
.bold, strong   { font-weight: 700; }
.normal-weight  { font-weight: 400; }
.italic         { font-style: italic;padding-right: 2px; }
.lite           { font-weight: 100; }
.lite h1, .lite h2, .lite h3, .lite h4, .lite strong 
                { font-weight: 400;}
.subtext        { font-size: 80%; padding: 0 6px; }
.aside-text     { font-size: 13px;}
.right          { float: right; text-align: right; }
.left           { float: left;  text-align: left; }
.ab-wrap        { position: relative; }
.vert-cent      { display: flex; align-items: center;}
.center         { text-align: center;}
.capitalize     { text-transform: capitalize;}
.uppercase      { text-transform: uppercase;}
.no-flex-grow   { flex-grow: 0 !important; }
.no-wrap        { white-space: nowrap; }
.truncate, .truncate *
                { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.margin-auto    { margin: auto; }
.inline         { display: inline; }
.inline-block   { display: inline-block; }
.clear-margin-padding {margin:0px; padding: 0px;}
.clear-vert-margin {margin-top: 0px;margin-bottom: 0px;}

.logo {
    display: block;
    height: 202px;
    width: 300px;
    left: 0px;
    top: 0px;
    position: relative;
    background-image: url("../images/oncorlogo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #cccccc;
    margin: 5px 0;
}

.search-bar {
    left: 0px;
    top: 0px;
    vertical-align : middle;
    position: relative;
    margin: 5px 0;	
}

.mobile-menu {
	display: block;
    height: 20px;
    width: 24px;
    left: 0px;
    top: 0px;
    z-index: 3;
    position: absolute;
    background-image: url("../images/hamburger-menu-icon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px 0;
}

.search-transition {
    position: absolute;
    width: 100%;
    left: 0;
    transition:left ease .5s;
}

.search-transition.ng-hide {
    left: -100%;
}

.card-body {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.card-body hr {
    width: 90%;
    margin: 0 auto;
    border-top-color: rgba(10,10,10,0.1);
    border-width: 1px 0px 0px 0px;
}

.card-header {
	margin:0;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 18px;
}

.card-paragraph {
	margin:0;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 12px;
    color: #848484;
}

.card-button-con {
	padding: 5px;
	display:inline-block;
    background-color: #6495ed;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    float: right;
}

.card-button-serve {
	padding: 5px;
	display:inline-block;
    background-color: #FF7F50;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    float: right;
}

.results-text {
	margin:0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 10px;
    color: #848484;
}

.orange-vertical-line {
	margin: 5px;
	border-left: thick solid #FF7F50;
}

.det-header {
	margin:0;
    padding: 5px;
	clear:both;
	position: relative;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 40px;
}

.det-subheader {
	margin:0;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 14px;
}

.detail-button-home {
	padding: 15px 5px;
	width: 45%;
	display:inline-block;
    background-color: #00FFFF;
    color: #ffffff;
    font-size: 12px;
    border: none;
    border-radius: 8px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.detail-button-search {
	padding: 15px 5px;
	width: 45%;
	display:inline-block;
    background-color: #D3D3D3;
    font-size: 12px;
    border: none;
    border-radius: 8px;
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.detail-button-back-icon {
	display:inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
	top: 0px;
	right: 0px;
    background-image: url("../images/back_arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 5px 0;
    float: right;
}

.detail-button-search-icon {
	display:inline-block;
    height: 20px;
    width: 20px;
    top: 0px;
    position: absolute;
    background-image: url("../images/magnifying_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 5px 0;
    float: left;
}

.detail-button-share-icon {
	display: block;
    height: 20px;
    width: 20px;
    position: relative;
    background-image: url("../images/share_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 5px 0;
    float: left;
}

.detail-button-plus-icon {
	display: block;
    height: 20px;
    width: 20px;
    position: relative;
    background-image: url("../images/plus_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #505050;
    color: #FFFFFF;
    margin: 5px 0;
    float: right;
}

.nav-bar-header {
	width:100%;
    float: right;
}

.bottom-container {
	height: 200px;
	border: solid 1px #000;
	position: relative;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 250px;
  height: 32px;

  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
	display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    background-image: url("../images/magnifying_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0px 0px 0px 7px;
}
