<!DOCTYPE HTML>
<html>
    	<head>
    		<meta charset="UTF-8">
    		<link rel="stylesheet" href="css/main.css">
			<script src="https://code.angularjs.org/1.6.9/angular.js"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
			<script type="text/javascript">
			
			    var app = angular.module('ServSearch',[]);
			
			    app.controller('ServController',function($scope){
			        $scope.IsVisible = false;
			        $scope.NotVisible = true;
			
			        $scope.ShowHide = function(){
			            $scope.IsVisible = true;
			            $scope.NotVisible = false;
			        }

			    	$scope.RedirectDetails = function(){
  						window.location = "/ServiceSearch/apps/ServiceSearch/common/itemDetails.html";
			        }
			        
			        });
			</script>
    	</head>
    	<body>
<div ng-app="ServSearch" ng-controller="ServController">
<div ng-show = "NotVisible" class="search-transition">
<button type="button" ng-click="" class="mobile-menu"></button>
<div class="logo center"></div>
<div class="vert-cent center wide search">
  <span class="fa fa-search" ng-click="ShowHide()"></span>
  <input class= "wide" type="text" placeholder="Type.. Service for a new building">
</div>
</div>
<div ng-show = "IsVisible" class="search-transition">
<div class="vert-cent center wide search">
  <span class="fa fa-search" ng-click="ShowHide()"></span>
  <input class= "wide" type="text" placeholder="Type.. Service for a new building">
</div>
<div class="results-text" ng-click="">RESULTS</div>
<div class="card-body">
<div ng-click="RedirectDetails()">
<div class="card-header truncate">Service for newly constructed building</div>
<div class="card-paragraph">Since Texas is a deregulated market, you get to choose or switch your Retail Electric Provider based on rates, plans and customer benefits that work for you.  Visit Power to Choose or call Texas Choice at 866-797-4839</div>
</div>
<hr/>
<div class="right">
<button type="button" ng-click="" class="card-button-serve">Serve New</button>
<button type="button" ng-click="" class="card-button-con">New Construction</button>
</div>
</div>
</div>
</div>
	</body>
</html>